<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="UserProfile" class="nav-link" routerLinkActive="active">
          <input   class="btn btn-primary"  type="button"  value="AddUserProfile">
        </a>
      </li> 
       
      <li class="nav-item">
        <a routerLink="invoice" class="nav-link" routerLinkActive="active">
          <input class="btn btn-info" type="button" value="Invoice">
        </a>
      </li>  
      <!-- <li class="nav-item">
        <a routerLink="invoice" class="nav-link" routerLinkActive="active">
          Page not Found
        </a>
      </li>  -->
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">
          AddContact
        </a>
      </li> 
       
      <li class="nav-item">
        <a routerLink="getAll" class="nav-link" routerLinkActive="active">
          ShowCntact
        </a>
      </li>  
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div> -->